@model IEnumerable<ProdutoStoreApi.AplicacaoServico.AppModels.ProdutoViewModel>


    <div id="divListaDeProdutos">

        <div class="divTable">
        <table class="table table-striped">
            <thead>
                <tr class="celulas">
                    <th>
                        Nome
                    </th>
                    <th>
                        Descrição
                    </th>
                    <th>
                        Categoria do Produto
                    </th>
                    <th>
                        Ativo
                    </th>
                    <th>
                        Perecível
                    </th>
                    <th>
                        Ação
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Nome)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Descricao)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Categoria.Nome)
                    </td>
                    <td>
                        @(item.Ativo ? "Ativo" : "Inativo")
                    </td>
                    <td>
                        @(item.Perecivel ? "Sim" : "Não")
                    </td>

                    <td>
                        <a asp-action="Editar" asp-route-id="@item.Id" class="btn btn-success">Atualizar</a>
                        <a asp-action="Deletar" asp-route-id="@item.Id" class="btn btn-danger">Deletar</a>
                    </td>
                </tr>
                }
            </tbody>
        </table>
    </div>
    </div>
