@model IEnumerable<ProdutoStoreApi.AplicacaoServico.AppModels.ProdutoViewModel>


    <div id="divListaDeProdutos">

        
        <table class="table">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Nome)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Descricao)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Ativo)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Perecivel)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Categoria)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Nome)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Descricao)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Ativo)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Perecivel)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Categoria.Nome)
                        </td>
                        <td>
                            <a asp-action="Editar" asp-route-id="@item.Id" class="btn btn-success">Atualizar</a>
                            <a asp-action="Deletar" asp-route-id="@item.Id" class="btn btn-danger">Deletar</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
